<!DOCTYPE html>
<html ng-app="app">
<head>
    <meta charset="utf-8">
    <title>TODO List in AngularJS</title>
</head>
<body ng-controller="TodoController as todoCtrl">
    <div id="container">
        <h1>TODO list</h1>
        <hr>
        <div class="row">
            <label class="col-md-6">What needs to be done?</label>
            <div class="col-md-1"></div>
            <label class="col-md-2">How important is it?</label>
            <div class="col-md-3"></div>
        </div>
        <form id="newTodoForm" class="row">
            <input type="text" placeholder="New todo" class="col-md-6" ng-model="todoCtrl.text"></input>
            <div class="col-md-1"></div>
            <select class="col-md-2" ng-model="todoCtrl.selectedPriority" ng-options="priority for priority in todoCtrl.priorities">
            </select>
            <div class="col-md-1"></div>
            <button class="btn btn-default col-md-2" type="button" ng-click="todoCtrl.click()">
                Add todo
            </button>
        </form>

        <hr>

        <div id="todoListDiv">
            <table class="table table-stripped table-hover" ng-show="todoCtrl.todos.length>0">
                <tr>
                    <th></th>
                    <th></th>
                    <th ng-click="todoCtrl.orderByTodo()">
                        <div class="addArrows">
                            <img src="Images/arrows.png" class="icon" /> To do:
                        </div>
                    </th>
                    <th ng-click="todoCtrl.orderByPriority()">
                        <div class="addArrows">
                            <img src="Images/arrows.png" class="icon" /> Priority:
                        </div>
                    </th>
                    <th>
                    </th>
                </tr>
                <tr ng-repeat="todo in todoCtrl.todos">
                    <td>{{$index+1}}</td>
                    <td></td>
                    <td>
                        <!--ng-click="e.editing=false"-->
                        <input type="checkbox" ng-model="todo.done" />
                        <span ng-dblclick="todo.editing=true" ng-hide="todo.editing">{{todo.text}}</span>
                        <input type="text" ng-model="todo.text" ng-show="todo.editing" my-enter="todo.editing=false" />
                    </td>
                    <td>{{todo.priority}}</td>
                    <td><img src="Images/delete.png" class="icon" ng-click="todoCtrl.delete($index)"></td>
                </tr>
            </table>
        </div>
        <div id="freedomDiv" ng-hide="todoCtrl.todos.length>0">
            <img src="Images/freedom-sign.png">
            <p></p>
        </div>
        <p>You have: {{todoCtrl.pendingTodos()}} todos pending</p>
        <hr>
    </div>

    <!-- scripts -->
    <link rel="stylesheet" href="style.css">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.2/angular.min.js"></script>
    <script src="app/app.module.js"></script>
    <script src="app/todo/todo.controller.js"></script>
</body>

</html>
