img{
  height: 10px;
}

#container {
    width: 90%;
    margin: 0 auto;
    /*background-color: pink;*/
}

#newTodoForm {
    width: 100%;
    margin: 0 auto;
    /*background-color: red;*/
}

#newTodoForm input, select, button {
    height: 32px;
}

#xwe{
  background-color: yellow;
}

/*media queries*/
@media only screen and (min-width: 400px) {
    #newTodoForm{
        margin: 0 auto;
    }

    #newTodoForm input, select{
      width: 100%;
      margin: 5px 0px 5px 0px;
      background: transparent;
      border: 1px solid;
      border-radius: 5px;
    }

    #newTodoForm button{
      width: 60%;
      margin: 5px auto;
      display: block;
    }

    #todoListDiv{
      margin: 0 auto;
    }
}

@media only screen and (min-width: 750px) {
  /*#newTodoForm input, select, button{
    display: inline-block;
  }

  #todoListDiv{
  }*/
}
