body{
  /*background-image: url("Images/freedom-white.jpg");*/
  background-size: cover;
}

p {
    text-align: right;
}

.icon {
    height: 20px;
    margin: 0 10px;
}

.onHoverEdit{
  cursor: crosshair;
}

#container {
    width: 90%;
    margin: 0 auto;
}

#newTodoForm {
    width: 100%;
    margin: 0 auto;
}

#newTodoForm input, select, button {
    height: 32px;
}

#freedomDiv{
  height: 100%;
}

#freedomDiv img{
  height: 200px;
}

/*media queries*/

@media only screen and (min-width: 400px) {
    /*#newTodoForm{
        margin: 0 auto;
    }

    #newTodoForm input, select{
      width: 100%;
      margin: 5px 0px 5px 0px;
      background: transparent;
      border: 1px solid;
      border-radius: 5px;
    }

    #newTodoForm button{
      width: 60%;
      margin: 5px auto;
      display: block;
    }

    #todoListDiv{
      margin: 0 auto;
    }*/
}

@media only screen and (min-width: 750px) {
    /*#container {
      width: 90%;
      margin: 0 auto;
      background-color: green;
  }*/
}
